@{
    ViewBag.Title = "CambioPassword";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}


@section instances{
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
    @Scripts.Render("~/Content/angular/angular.js")
}





@using DSIGE
@using DSIGE.Modelo
@using DSIGE.Negocio

@{
    List<Sesion_Modulo> oSe = new List<Sesion_Modulo>();

    if (Session["Session_Usuario_Acceso"] == null)
    {
        Response.Redirect("../Login/Login");
    }
    else
    {
        oSe = ((Sesion)Session["Session_Usuario_Acceso"]).modulo;
    }

    int cuenta = 1;

}

<script type="text/javascript">


 

    @*codigo angular*@
    var app = angular.module('appCambioPass', []);
    app.controller('CambioPassCtrl', function ($scope, $http) {



        // cambio de Passwod

        var pass_actual, pass_nuevo, pass_nuevo_conf;
        pass_actual = document.getElementById('pass_anterior');
        pass_nuevo = document.getElementById('pass_nueva');
        pass_nuevo_conf = document.getElementById('pass_nueva_confirma');


        $scope.LimpiarCajastexto = function () {
            pass_actual.value = '';
            pass_nuevo.value = '';
            pass_nuevo_conf.value = ''; 
        }


        $scope.VerificandoInformacion = function () {

            // validaciones
            if (pass_actual.value == '') {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor ingrese su Contraseña actual. Muchas gracias.',
                    type: 'error'
                });
                return;
            }

            if (pass_nuevo.value == '') {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor ingrese su Contraseña nueva. Muchas gracias.',
                    type: 'error'
                });
                return;
            }

            if (pass_nuevo_conf.value == '') {
                new PNotify({
                    title: 'Sistemas',
                    text: 'Por favor ingrese su Contraseña de confirmación. Muchas gracias.',
                    type: 'error'
                });

                return;
            }

            if (pass_nuevo.value != pass_nuevo_conf.value) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'La Contraseña nueva y la constraseña de confirmación deben de ser Iguales, verifique por favor.',
                    type: 'error'
                });

                return;
            }

            if (pass_actual.value == pass_nuevo.value) {
                new PNotify({
                    title: 'Sistemas',
                    text: 'La Contraseña nueva debe de ser diferente a la Actual, verifique por favor.',
                    type: 'error'
                });

                return;
            }



            // fin de  validaciones 
            var variables = {
                method: 'POST',
                url: '../CambioPassword/Verificando_Password',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                },
                data: {
                    //Parametros de  la Funcion del Controlador
                    contraseña_antigua: pass_actual.value
                }
            }
            $http(variables)
            .success(function (data) {
                if (data != '') {
                    var pass_real;
                    pass_real = data[0].contrasenia_Actual;

                    if (data != '') {
                        $scope.GenerandoCambioPass(pass_nuevo.value);
                    }
                }
                else {
                    new PNotify({
                        title: 'Sistemas',
                        text: 'Por favor ingrese su contraseña actual correcta para validar, verifique por favor.',
                        type: 'error'
                    });
                }
            })

            .error(function () {
                alert('Lo sentimos, Ocurrio un problema, vuelva a intentar.')
            });
        };
        
        $scope.GenerandoCambioPass = function (pass_nuevo) {

            var variables = {
                method: 'POST',
                url: '../CambioPassword/GenerandoCambioPass',
                headers: {
                    'Content-Type': 'application/json; charset=utf-8'
                },
                data: {
                    contraseña_nueva: pass_nuevo
                }
            }
            $http(variables)
            .success(function (data) {     
                window.location = '../Login/Logout';
            })
            .error(function () {
                alert('Lo sentimos, Ocurrio un problema, vuelva a intentar.')
            });
        };
        

        ///fin de cambio de pass
    });
            @*Fin de codigo angular*@

</script>
<div ng-app="appCambioPass" ng-controller="CambioPassCtrl">

    <div class="panel panel-oscuro">
        <div class="panel-heading">
            <h6><i class="fa fa-table fa-lg"></i> CAMBIO DE CONTRASEÑA</h6>
        </div>
        <div class="panel-body">

             <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">


                        @foreach (Sesion_Modulo oMo in oSe)
                        {
                            if (cuenta == 1)
                            {
                                <div class="panel-heading">
                                    USUARIO ACTUAL  :  @oMo.nombre_usuario.ToUpper()
                                </div>
                                cuenta++;
                            }
                        }
                        

                        <div class="panel-body">

                            <form class="form-horizontal" role="form">
                                <div class='form-group text-center'>
                                    <h5><b><font face="tahoma">INGRESE SU CONTRASEÑA ACTUAL PARA CONFIRMAR LA OPERACIÓN DEL CAMBIO DE CONTRASEÑA</font></b></h5>                             
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="pass_anterior">Contraseña Actual</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="pass_anterior" maxlength="50" placeholder="Ingrese contraseña actual">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="pass_nueva">Ingrese nueva Contraseña</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="pass_nueva" maxlength="50"  placeholder="Ingrese contraseña nueva ">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="pass_nueva_confirma">Confirme su nueva Contraseña</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="pass_nueva_confirma" maxlength="50" placeholder="Confirme contraseña nueva">
                                    </div>
                                </div>

                                <div class='text-center'>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary" ng-click="VerificandoInformacion()">Guardar</button>
                                        <button type="button" class="btn btn-primary" ng-click="LimpiarCajastexto()">Cancelar</button>
                                    </div>
                                </div>


                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>


        </div>
    </div>


</div>